.cards {
  overflow: scroll;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 3rem;

  .card {
    flex-grow: 1;
    flex-basis: 20rem;
    max-width: 20rem;
    color: white;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    img {
      width: 100%;
      border-radius: 0.7rem;
    }

    h1 {
      font-size: 1.5rem;
      color: rgb(236, 230, 223);
    }

    .description {
      opacity: 0.8;
      font-size: 0.9rem;
    }

    .tags {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      .tag {
        width: fit-content;
        border-radius: 0.7rem;
        padding-inline: 0.5rem;
        padding-block: 0.4rem;
        background-color: rgb(87, 84, 80);
        font-size: 0.9rem;
        white-space: nowrap;
      }
    }

    .links {
      display: flex;
      justify-content: space-between;

      a {
        color: white;
        padding: 0.5rem 1rem;
        text-decoration: none;
        background-color: rgb(61, 61, 178);
        border-radius: 0.75rem;

        &:nth-child(2) {
          background-color: rgb(82, 127, 73);
        }
      }
    }
  }
}

.cards::-webkit-scrollbar {
  display: none;
}
